body{
	background-color: black;
}
.titulo{
	color: white;
}

.mail{
	color: white;	
}
.pass{
	color: white;
}
.user{
	color: white;
}
.url{
	color: white;	
}
.banner{
	background-color: black;
}
.registro {
	background-color: red;
}